<!-- Sidebar -->
<aside id="sidebar" class="fixed top-0 left-0 z-10 h-full w-64 bg-white shadow-lg transform -translate-x-full transition-transform duration-300 md:translate-x-0 md:relative md:block">
    <div class="p-6 text-center font-bold text-2xl text-purple-700">SHOEGO</div>
    <ul class="space-y-4 px-4 mt-6 font-medium">
        <li><a href="/admin/dashboard" class="loadButtons block py-2 px-4 rounded hover:bg-purple-100">Dashboard</a>
        </li>
        <li><a href="/admin/all-orders?req=new" class="loadButtons block py-2 px-4 rounded hover:bg-purple-100">Orders</a></li>
        <li><a href="/admin/products?req=new"  class="loadButtons block py-2 px-4 rounded hover:bg-purple-100">Products</a></li>
        <li><a href="/admin/sales-report?req=new" class="loadButtons block py-2 px-4 rounded hover:bg-purple-100">Sales Report</a></li>
        <li><a href="/admin/customers?req=new" class="loadButtons block py-2 px-4 rounded hover:bg-purple-100">Customer</a></li>
        <li><a href="/admin/coupons?req=new" class="loadButtons block py-2 px-4 rounded hover:bg-purple-100">Coupons</a></li>
        <li><a href="/admin/categories?req=new" class="loadButtons block py-2 px-4 rounded hover:bg-purple-100">Category</a></li>
        <li><a href="/admin/signout" class="block py-2 px-4 rounded hover:bg-purple-100 text-red-500">Sign Out</a></li>
    </ul>
</aside>