<!-- Sidebar -->
<aside id="sidebar" class="hidden md:block w-64 bg-white shadow-lg">
    <div class="p-6 text-center font-bold text-2xl text-purple-700">SHOEGO</div>
    <ul class="space-y-4 px-4 mt-6 font-medium">
        <li><a href="/admin/dashboard" class="block py-2 px-4 rounded hover:bg-purple-100 bg-purple-200">Dashboard</a>
        </li>
        <li><a href="#" class="block py-2 px-4 rounded hover:bg-purple-100">Order</a></li>
        <li><a id="loadProducts" href="#" class="block py-2 px-4 rounded hover:bg-purple-100">Products</a></li>
        <li><a href="#" class="block py-2 px-4 rounded hover:bg-purple-100">Sales Report</a></li>
        <li><a id="loadCustomers" class="block py-2 px-4 rounded hover:bg-purple-100">Customer</a></li>
        <li><a href="#" class="block py-2 px-4 rounded hover:bg-purple-100">Coupon</a></li>
        <li><a class="loadCategories block py-2 px-4 rounded hover:bg-purple-100">Category</a></li>
        <li><a href="#" class="block py-2 px-4 rounded hover:bg-purple-100">Refund/Return</a></li>
        <li><a href="/admin/signout" class="block py-2 px-4 rounded hover:bg-purple-100 text-red-500">Sign Out</a></li>
    </ul>
</aside>