<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= 'ShoeGo | ' + title || 'Profile' %>
  </title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/output.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-gray-300">
  <div class="min-h-screen flex">
    <!-- Sidebar (optional) -->
    <aside class="w-64 bg-gray-100 p-6 shadow-md hidden md:block">
      <h1 class="text-2xl font-bold text-gray-600 mb-6">ShoeGO</h1>
      <nav class="space-y-4">
        <a href="/profile" class="block p-3 bg-purple-100 rounded hover:bg-purple-200 transition"><i class="fa-solid fa-address-card"></i> Profile Information</a>
        <a href="/addresses" class="block p-3 bg-purple-100 rounded hover:bg-purple-200 transition"><i class="fa-solid fa-address-book"></i> My Addresses</a>
        <a href="/orders" class="block p-3 bg-purple-100 rounded hover:bg-purple-200 transition"><i class="fa-solid fa-bag-shopping"></i> My Orders</a>
        <a href="/wishlist" class="block p-3 bg-purple-100 rounded hover:bg-purple-200 transition"><i class="fa-solid fa-heart"></i> My Wishlist</a>
        <a href="/wallet" class="block p-3 bg-purple-100 rounded hover:bg-purple-200 transition"><i class="fa-solid fa-wallet"></i> My Wallet</a>
        <a href="/referrals" class="block p-3 bg-purple-100 rounded hover:bg-purple-200 transition"><i class="fa-solid fa-user-group"></i> My Referrals</a>
        <a href="/logout" class="block p-3 text-red-700 bg-purple-100 rounded hover:bg-red-300 transition"><i class="fa-solid fa-right-from-bracket" style="color: #cd7070;"></i> Logout</a>
      </nav>
    </aside>

    <!-- Profile Main Content -->
    <main class="flex-1 p-8 bg-gray-100 shadow-md rounded-xl mx-4 my-6">
      <%- body %>
    </main>
  </div>
  <script src="/js/script.js"></script>
  <script src="/js/user.js"></script>
</body>

</html>